<form (submit)="addUser(newUser)">
    <input type="text" #newUser>
    <button>Send</button>
</form>
<ul>
    <app-user *ngFor="let user of users" [nameUser]="user"></app-user>
</ul>

<div>
    <p>Name: {{name}}</p>
    <p>Street: {{address.street}}</p>
    <p>City: {{address.city}}</p>
    <ul>
        <li *ngFor="let hobby of hobbies">
            {{hobby}}
        </li>
    </ul>
</div>

<ul>
    <li *ngFor="let user of users">
        {{user}}
        <button (click)="deleteUser(user)">x</button>
    </li>
</ul>